
.header-img {
  background: url("../../Assets/Imgs/chapter.jpg");
  background-size: cover;
  background-position: right 50% bottom 80%;
  width: 100%;
  height: 40vh;
}

p, h1, h2, h3, h4, button {
  margin: 0
}

.chapter-page-container {
  padding: 2%;
  
  .inner-container {
    margin: 0 auto;
    width: 90%;

    .chapter-name {
      font-size: 2.5rem;
      text-align: center;
      padding: 3% 0;
      border-bottom: 5px solid #C0C0C0;
      font-weight: 900;
    }

    .count-container {
      width: 40%;
      padding: 2% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      p {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 800;    
      }
    }
    
    .hero-p {
      padding: 2%;
      width: 100%;
      font-size: 2rem;
    }

    .chapter-leader {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 800;    
        padding: 2% 0;
      }

      p {
        padding: 2%;
        width: 100%;
        font-size: 2rem;
      }
    }

    .chapter-volunteers {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        padding: 2%;
        font-size: 2.5rem;
        font-weight: 800;
      }
    }
  } 
}

.join-button {
  display: block;
  margin: 2% auto;
  font-weight: 600;
  width: 33.3%;
  border-radius: 7px;
  padding: 1.5% 0%;
  color: #696969;
  font-size: 2rem;
  border: 2px solid #696969;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  &:hover {
    font-weight: 800;
    border: 3px solid #696969;
    cursor: pointer;
  }  
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.3);
  }
}

.text-center {
  text-align: center;
}

.flex-box {
  display: flex;
}

.justify-even {
  justify-content: space-evenly;
}


