.no-leader {
  margin-top: 7vh;
  margin-bottom: 5vh;
  .apply-btn {
    text-align: center;
    margin-top: 5vh;
    background: rgb(39, 54, 68);
    color: white;
    padding: 1rem 0;
    cursor: pointer;
    &:hover {
      background: rgb(66, 87, 105);
    }
  }
}
.chapter-volunteers {
  h2 {
    margin: 5vh 0;
  }
  .volunteer-inner {
    display: flex;
    justify-content: space-around;
    .volunteer-info {
      text-align: center;
      p {
        margin-top: 1rem;
        font-weight: bold;
        font-size: 1rem;
      }
    }
    img {
      border-radius: 50%;
      width: 20%;
    }
  }
}

p.no-members {
  text-align: center;
  width: 100%;
  border: none;
}
