.outer-cards-container {
  margin-top: 3%;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10%;
  }
}

.card {
  &:hover {
    cursor: pointer;
    h3 {
      opacity: 0.9;
      font-size: 1.8rem;
    }
    img {
      filter: blur(1px);
    }
  }

  h3 {
    font-size: 1.75rem;
    position: fixed;
    top: 60%;
    color: white;
    background: #212121;
    opacity: 0.6;
    z-index: 2;
    padding: 2%;
  }

  .img-container {
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;

      margin: 4% auto;
    }
  }

  .modal-btn {
    display: block;
    margin: 3% auto;
    font-weight: 600;
    width: 100%;
    border-radius: 7px;
    padding: 1.5% 0%;
    color: #696969;
    font-size: 1.5rem;
    border: 2px solid #696969;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    &:hover {
      font-weight: 800;
      border: 3px solid #696969;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.3);
    }
  }
}

.react-multi-carousel-item.react-multi-carousel-item--active {
  margin: 0 7px;
}
.react-multiple-carousel__arrow {
  z-index: 2 !important;
}
