.banner {
  position: absolute;
  right: 10%;
  top: 59%;
  z-index: 99;

  border-radius: 1px;
  background-color: #fbfbfb;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
  transition: 1s;
  transform-style: preserve-3d;

  .front {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  p {
    position: relative;
    left: 0px;
    padding: 0.5rem;
    width: 224px;
    margin-top: 1rem;
    color: #303030;
    font-family: poppins;
    font-size: 17px;
    letter-spacing: -0.16px;
    line-height: 21px;
    font-weight: 600;
  }

  .x:hover {
    cursor: pointer;
  }

  .toggle-btn {
    height: 2rem;
    width: 8rem;
    border-radius: 2px;
    background-color: #212121;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-family: poppins;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.9px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: #686767;
      color: white;
    }
  }
}
.front,
.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0;

  transition-delay: 0.25s;
  backface-visibility: hidden;
  background-color: white;
}

.back {
  transform: rotateY(180deg);

  opacity: 0;
  display: none;
  backface-visibility: visible;
  p {
    margin: 0;
  }
}

.flip {
  transform: rotateY(180deg);
  .front {
    opacity: 0;
  }
  .back {
    opacity: 1;
    display: flex;
    position: absolute;
    padding-left: 1rem;

    height: 100%;
    width: 100%;
    animation: fadein 2s;
    p {
      padding: 0;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
