.legend-con {
  position: absolute;
  left: 2%;
  top: 70%;
  z-index: 10;
  padding: 1rem;

  @media(max-width: 500px) {
    left: 1.5%;
    top: 88%;
  }

  svg {
    width: 25%;
  }
  .row {
    display: flex;
    align-items: center;
    padding-top: 0.2rem;
    
    @media(max-width: 950px) {
      display: none;
    }
    h4 {
      margin-left: -230px;
    }
  }
  
  .MuiSvgIcon-root {
    width: auto;
    color: rgb(17, 17, 17);
  }
  .MuiSvgIcon-fontSizeLarge {
    font-size: 3rem;
    cursor: pointer;
    transition: 1s;
  }
  //switch
  .switch-con {
    display: flex;
    flex-direction: column;

    &:hover p {
      display: block;
    }
    .MuiSwitch-root {
      .MuiSwitch-track {
        background-color: #ff6102;
        opacity: 1;
      }
      .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
        opacity: 0.6;
      }
    }
    .label {
      font-weight: bold;
      display: none;
    }
  }
}
