.navbar-map {
  width: 100vw;
  position: fixed !important;
  z-index: 2;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: #212121;
  opacity: 95%;
  font-family: ProximaNova;

  @media (max-width: 800px) {
    display: none !important;
  }

  img {
    height: auto;
    max-width: 100%;
    width: 55px;
    &:hover {
      cursor: pointer;
    }
  }

  .navProPic {
    background: #212121;
  }

  nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    a.donate {
      border: 1px solid white;
      padding: 12px 20px;
      background-color: white;
      border-radius: 5px;
      color: #212121;
      &:hover {
        background-color: #686767;
        color: white;
      }
    }

    a {
      font-weight: 600;
      font-style: normal;
      font-size: 18px;
      letter-spacing: 1.2px;
      text-decoration: none;
      line-height: 1em;
      color: rgba(255, 255, 255, 0.9);
      font-family: ProximaNova;
      display: block;
      &:hover {
        color: #cacaca;
      }

      @media only screen and (max-width: 500px) {
        width: 50vw;
        margin: 0 8vw;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        text-align: left;
      }

      &:last-child {
        background-color: #fff;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: subpixel-antialiased;
        color: #000;
        -webkit-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -moz-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -ms-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -o-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;

      .dropbtn,
      .dropbtn:hover {
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1em;
        color: rgba(255, 255, 255, 0.9);
        font-family: ProximaNova;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #212121;
      z-index: 99;
      min-width: 260px;

      a {
        color: white;
        text-decoration: none;
        display: block;
        margin-top: 0.5rem;

        padding: 0.5rem 1.5rem;
        &:hover {
          color: #212121;
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
      .not-last-child {
        display: none;
      }
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }

    // Styling for Search Drop Down! :)

    .search-box {
      position: fixed;
      display: inline-block;
      top: 110px;
      left: 18px;
      background-color: #212121;

      opacity: 95%;
      border-radius: 6px;

      .search-bar {
        display: flex;
        font-size: 1.5em;
        color: white;
        padding: 0.5rem;
        padding-left: 1.2rem;
        input {
          background: #212121;
          border: 1px solid rgba(255, 255, 255, 0);
          padding-left: 5px;
          height: 35px;
          width: 240px;
          font-size: 1em;
          color: white;
          border-radius: 10px;
        }

        .drop-search,
        .drop-search:hover {
          font-weight: 600;
          font-style: normal;
          font-size: 18px;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 1em;
          color: rgba(255, 255, 255, 0.9);
          font-family: ProximaNova;
        }
      }
    }
    .dropdown-search {
      display: none;
      position: absolute;
      background-color: #ffffff;
      z-index: 99;
      min-width: 260px;

      .not-last-child {
        display: none;
      }
    }
    .search-bar:hover .dropdown-search {
      display: block;
    }
  }
}
//styling for MUI//
.MuiPopover-root {
  div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    top: 10px !important;
  }
}
