.navbar-map {
  width: 100vw;
  position: fixed !important;
  z-index: 99;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: #212121;
  font-family: ProximaNova;
 
  // @media (max-width: 1100px) {
  //   display: none !important;
  // }
  // .navbar-map{
  //   background-color: black;
  //   overflow:hidden;
  //   height:63px;
  // }
  
  // .navbar a{
  //   float:left;
  //   display:block;
  //   color:#f2f2f2;
  //   text-align:center;
  //   padding:14px 16px;
  //   text-decoration:none;
  //   font-size:17px;
  // }
  
  // .navbar ul{
  //   margin:8px 0 0 0;
  //   list-style:none;
  // }
  
  // .navbar a:hover{
  //   background-color:#ddd;
  //   color:#000;
  // }
  
  // .side-nav{
  //   height:100%;
  //   width:0;
  //   position:fixed;
  //   z-index:1;
  //   top:0;
  //   left:0;
  //   background-color:#111;
  //   opacity:0.9;
  //   overflow-x:hidden;
  //   padding-top:60px;
  //   transition:0.5s;
  // }
  
  // .side-nav a{
  //   padding:10px 10px 10px 30px;
  //   text-decoration:none;
  //   font-size:22px;
  //   color:#ccc;
  //   display:block;
  //   transition:0.3s;
  // }
  
  // .side-nav a:hover{
  //   color:#fff;
  // }
  
  // .side-nav .btn-close{
  //   position:absolute;
  //   top:0;
  //   right:22px;
  //   font-size:36px;
  //   margin-left:50px;
  // }
  
  // #main{
  //   transition:margin-left 0.5s;
  //   padding:20px;
  //   overflow:hidden;
  //   width:100%;
  // }
  
  // @media(max-width:568px){
  //   .navbar-nav{display:none}
  // }
  
  // @media(min-width:568px){
    /*.open-slide{display:none}*/
  // }
    
  img {
    height: auto;
    max-width: 100%;
    width: 195px;
  }
  nav {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
    a {
      font-weight: 600;
      font-style: normal;
      font-size: 18px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1em;
      color: rgba(255, 255, 255, 0.9);
      font-family: ProximaNova;
      display: block;
      @media only screen and (max-width: 500px){
        width: 50vw;
        margin: 0 8vw;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        text-align: left;
        }
      &:hover {
        color: white;
      }
      &:last-child {
        background-color: #fff;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: subpixel-antialiased;
        color: #000;
        -webkit-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -moz-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -ms-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -o-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        padding: 15px 30px;

        &:hover {
          background: darken($color: rgba(214, 214, 214, 0.6), $amount: 1%);
          
        }
      }
    }
  }
}