html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

@media screen and (min-width: 1101px) {
  .bm-burger-bars {
    display: none;
  }
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.9);
  font-family: ProximaNova;
  display: block;
  @media only screen and (max-width: 500px) {
    width: 50vw;
    margin: 0 8vw;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
  }
  &:hover {
    color: white;
  }
  &:last-child {
    background-color: #fff;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #000;
    -webkit-transition: background-color 0.1s 0s ease-in-out,
      color 0.1s 0s ease-in-out;
    -moz-transition: background-color 0.1s 0s ease-in-out,
      color 0.1s 0s ease-in-out;
    -ms-transition: background-color 0.1s 0s ease-in-out,
      color 0.1s 0s ease-in-out;
    -o-transition: background-color 0.1s 0s ease-in-out,
      color 0.1s 0s ease-in-out;
    transition: background-color 0.1s 0s ease-in-out, color 0.1s 0s ease-in-out;
    padding: 15px 30px;

    &:hover {
      background: darken($color: rgba(214, 214, 214, 0.6), $amount: 1%);
    }
  }
}

// Styling for Search Drop Down! :)
.burger-bar {
  position: relative;
  display: inline-block;
  background: blue;

  .burger-search,
  .burger-search:hover {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.9);
    font-family: ProximaNova;
  }
}
.burger-dropdown {
  // display: none;
  // position: absolute;
  // background-color: #ffffff;
  // z-index: 99;
  // min-width: 260px;

  .not-last-child {
    display: none;
  }
}
.burger-search:hover .burger-bar {
  display: block;
}
