/* Popup Style */

.mapboxgl-popup {
  height: 203px;
  text-align: center;
  cursor: auto;
}

.mapboxgl-popup-content {
  height: 183px;
  width: 275px;
  background: #484747 !important;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5) !important;
}

.mapboxgl-popup-tip {
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  /* border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important; */
}

/* Tip Color */

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  margin-top: 18px !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #484747 !important;
  /* height: 30px; To be used later */
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #484747 !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  /* border-right-color: #484747 !important; */
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 20px solid #484747 !important;
  margin: 15px -2px 0 0;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  /* border-left-color: #484747 !important; */
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 20px solid #484747 !important;
  margin: 15px 0 0 -2px;
}

.mapboxgl-popup-close-button {
  color: whitesmoke !important;
  font-size: 20px;
  /* margin: 2px 5px 5px 5px; */
  /* border: 1px solid white; */
  background: transparent !important;
  width: 40px;
  height: 40px;
  outline: none;
}

.mapboxgl-popup-close-button:hover {
  font-size: 25px;
  /* transition: 0.5s; */
  transform: rotate(-90deg);
  transition: transform 650ms ease;
  color: red !important;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.buttons button:first-child {
  background: #5cbe80;
  margin-right: 20px;
  border: none;
}

.buttons button:first-child:hover {
  color: black;
  transition: 0.6s;
}

.buttons button:last-child {
  background: #484747;
  border: 1px #979797 solid;
  border-radius: 1px;
}

.buttons button:last-child:hover {
  border: 2px solid white;
  transition: 0.4s;
}

.buttons button {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  margin-top: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  height: 23px;
  width: 105px;
  outline: none;
  cursor: pointer;
}

.info {
  font-size: 18px;
  line-height: 10px;
  letter-spacing: -0.36px;
  text-align: left;
  margin-left: 15px;
}

.info h3 {
  margin-top: -3px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.54px;
  line-height: 24px;
  text-align: center;
}

.number {
  margin-right: 15px;
  float: right;
}

.info a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  margin: 8px 8px 8px 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.info a span img {
  width: 20px;
}
