.chapterInfo {
  width: 376px;
  font-family: "Proxima Nova";
}

.chapterTitle {
  display: flex;
  flex-direction: column;
  border-bottom: #979797 solid 0.5px;
  padding-bottom: 20px;
}

.title {
  color: #303030;
  margin-left: 21px;
  margin-top: 18px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.24px;
}

.date {
  color: #303030;
  font-family: "Proxima Nova";
  font-size: 16px;
  margin-left: 21px;
}

.chapterStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: #979797 solid 0.5px;
  padding: 10px 0px;
}

.volunteers {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  border-right: #979797 solid 0.25px;
  font-weight: bold;
  font-size: 20px;
}

.reunions {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  border-left: #979797 solid 0.25px;
  font-weight: bold;
  font-size: 20px;
}

.number {
  align-self: center;
  font-size: 22px;
  font-weight: bold;
}

.chapterDetails {
  padding: 20px 15px;
  font-size: 16px;
  letter-spacing: 0.75px;
  line-height: 18px;
  border-bottom: #979797 solid 0.5px;
}

.contact {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 0.73px;
  font-size: 15px;
  border-bottom: #979797 solid 0.5px;
}

.gmailLogo {
  width: 25px;
  padding-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.green {
    width: 253px;
    height: 40px;
    margin: 15px 0px;
    background: #5cbe80;
    border: 1px #5cbe80 solid;
    border-radius: 10px; 
}

.green a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.9px;
}

.white {
    width: 253px;
    height: 40px;
    background: white;
    border: 1px #5cbe80 solid;
    border-radius: 10px; 
}

.white a {
    color: #5cbe80;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.9px;
}

/* button {
    width: 80%;
}

.buttons a {
  background: #5cbe80;
  margin-right: 20px;
  border: none;
  border: 1px #979797 solid;
  padding: 2.1px 15px;
  text-decoration: none;
  border-radius: 1px;
}

.buttons a:hover {
  color: black;
  transition: 0.6s;
  border: 2px solid white;
  transition: 0.4s;
}

.buttons button:last-child {
  background: #484747;
  border: 1px #979797 solid;
  border-radius: 1px;
}

.buttons button:last-child:hover {
  border: 2px solid white;
  transition: 0.4s;
}

.buttons button,
.buttons .green {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  margin-top: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  height: 23px;
  width: 105px;
  outline: none;
  cursor: pointer;
}

.buttons .white {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  margin-top: 10px;
  color: #5cbe80;
  background: white;
  border: 1px #5cbe80 solid;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  height: 23px;
  width: 105px;
  outline: none;
  cursor: pointer;
} */
