.form{
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.input{
    margin-top: 30px;
    width: 500px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(228, 226, 225);
    text-align: inherit;
}

.comment{
    width: 500px;
    height: 500px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgb(228, 226, 225);
    text-align: inherit;
    font-size: 20px
}

.submitb{
    width: 200px;
    margin-right: 50px;
    height: 60px;
    border-radius: 5px;
    background-color: aquamarine;
}

.clearb{
    width: 200px;
    /* margin-left: 50px; */
    height: 60px;
    border-radius: 5px;
    margin: 30px 0;
    background-color: rgb(252, 133, 118);
}

.chbox{
    text-align: left;
}