.chapter-Info {
    width: 250px;
    font-family: ProximaNova;
    margin-top: 10px;
    color: white;
  }
  
  .chapter-Title {
    display: flex;
    flex-direction: column;
    border-bottom: #d8d8d8 solid 0.25px;
    padding-bottom: 20px;
    color: white;
  }
  
  .chapter-Stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: #d8d8d8 solid 0.25px;
    padding: 10px 0px;
    color: white;
  }
  
  .volunteers {
    font-family: ProximaNova_Semibold;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    border-right: #d8d8d8 solid 0.1px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.9px;
    color: white;
  }
  
  .reunions {
    font-family: ProximaNova_Semibold;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.9px;
    margin-bottom: -1rem;
    color: white;
  }
  
  .number {
    font-family: ProximaNova_Bold;
    align-self: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.9px;
    margin-left: 1px;
    color: white;
  }
  
  .chapter-Details {
    padding: 20px 25px 0px 25px;
    font-size: 13px;
    letter-spacing: 0.73px;
    line-height: 18px;
    color: white;
    font-weight: bold;
  }
  
  .contact {
 
    font-family: ProximaNova_Bold;
    padding: 20px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: white;
    font-weight: bold;
    letter-spacing: 0.73px;
    font-size: 13px;
    border-bottom: #d8d8d8 solid 0.25px;
  }
  
  .email-Header {
    font-family: ProximaNova_Semibold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.9px;
    line-height: 20px;
    width: 100%;
  
  }
  
  .gmailLogo {
    width: 60px;
    /* padding-right: 10px; */
  }

  .social {
    display: flex;
    flex-flow: row nowrap;
    /* align-items: center;
    justify-items: center;
    align-content: center; */
    margin: 0 auto;
    justify-content: space-around !important;
    
 }


  

 
  
  
  

  