.user-settings {
  display: flex;
  justify-content: center;
  margin: 100px 15%;
  font-size: 1rem;
  .settings-container {
    width: 100%;
    display: flex;
    .settings-image-container {
      margin-right: 4rem;
      margin-top: 5rem;
      width: 20%;
      img {
        max-width: 100%;
        border-radius: 100px;
      }
    }
    .settings-info-container {
      margin-top: 4rem;
      width: 80%;
      .settings-info {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        height: 25px;
        div:first-child {
          font-weight: bold;
        }
        div:last-child {
          font-size: 0.9rem;
        }
        .MuiFormControl-root.MuiTextField-root {
          width: 50%;
          input {
            margin-left: 0.3rem;
          }
        }
        .MuiInput-underline:after {
          border-bottom: 2px solid rgb(50, 141, 50);
        }
      }
      .settings-bio {
        div {
          margin: 15px 0;
          &:first-child {
            font-weight: bold;
          }
          &:last-child {
            font-size: 0.95rem;
          }
          &.MuiTextField-root {
            margin: 0;
          }
        }
        .MuiTextField-root {
          width: 100%;
        }
      }
      .edit-buttons {
        margin-top: 1rem;
        width: 30%;
        display: flex;
        justify-content: space-between;
        &.hidden {
          display: none;
        }
        .save-btn {
          margin-right: 1.5rem;
          background-color: rgb(50, 141, 50);
          color: white;
        }
        .MuiButton-root {
          text-transform: none;
        }
      }
    }
    .hidden {
      display: none;
    }
  }
  h1 {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      border-radius: 100px;
      transition: 0.3s;
      &:hover {
        background-color: #eeeeee;
        cursor: pointer;
      }
    }
  }
}
