#okta-sign-in {
  margin: 10vh auto;
  margin-bottom: 0;
}
#sign-in-widget {
  margin-top: 17vh;
}
#okta-sign-in.auth-container {
  .main-container {
    box-shadow: 5px 5px 13px -5px rgba(92, 92, 92, 1);
  }

  .button.button-primary {
    background: #212121;

    &:hover {
      background-color: #505050;
    }
  }
}
.back-btn {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 5vh;

  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}
