.chapter-felx {
  padding-top: 2vh;
  padding-left: 10%;
  padding-right: 10%;
  .table {
    margin-bottom: 0;
  }
  #chapter-table-header {
    th {
      width: 20%;
      border: none !important;
    }
    .no-border {
      border-top: none;
    }
  }
}
.MuiPaper-root.MuiPaper-elevation1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.82);
}
