.container {
  margin: 0;
  padding: 0;
  max-width: match-parent;
  text-align: center;

  header {
    position: relative;
    height: 407px;

    h1 {
      color: white;
      position: absolute;
      top: 300px;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      z-index: 1;
    }

    .navbar {
      width: 100%;
      position: absolute;
      z-index: 99;

      img {
        height: auto;
        max-width: 100%;
        width: 196px;
        margin: 8px;
      }

      .tabsnavbar {
        width: 80%;
        align-items: center;
        nav {
          width: match-parent;
          display: flex;
          align-items: right;
          text-align: center;
          justify-content: flex-end;

          a {
            font-weight: 600;
            font-style: normal;
            font-size: 1rem;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 1em;
            color: rgba(255, 255, 255, 0.9);
            font-family: ProximaNova;
            padding: 13.5px 20px;

            &:last-child {
              background-color: #fff;
              -moz-osx-font-smoothing: auto;
              -webkit-font-smoothing: subpixel-antialiased;
              color: #000;
              -webkit-transition: background-color 0.1s 0s ease-in-out,
                color 0.1s 0s ease-in-out;
              -moz-transition: background-color 0.1s 0s ease-in-out,
                color 0.1s 0s ease-in-out;
              -ms-transition: background-color 0.1s 0s ease-in-out,
                color 0.1s 0s ease-in-out;
              -o-transition: background-color 0.1s 0s ease-in-out,
                color 0.1s 0s ease-in-out;
              transition: background-color 0.1s 0s ease-in-out,
                color 0.1s 0s ease-in-out;

              &:hover {
                background: darken(
                  $color: rgba(214, 214, 214, 0.6),
                  $amount: 1%
                );
              }
            }
          }
        }
      }
    }

    .overlay {
      z-index: 99;
      .backImg {
        background-color: black;
        background: url("../../Assets/Imgs/header.png") no-repeat center;
        height: 407px;
        background-size: cover;
        background-position-y: -169px;
        z-index: -15;

        .filter {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  .main {
    background: #fff;
    display: flex;
    flex-direction: column;

    .main-bold {
      h2 {
        font-weight: 900;
      }
    }

    h2 {
      margin: 0 auto;
      color: #303030;
      font-family: ProximaNova;
      font-size: 40px;
      letter-spacing: 1px;
      line-height: 1.2em;
      margin-top: 100px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 24px;

        .formBox {
          display: flex;
          flex-direction: column;
          width: 100%;

          label {
            color: rgba(26, 26, 26, 0.7);
            font-family: ProximaNova;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1.24px;
            line-height: 22px;
            text-align: left;
            margin: 10px auto;
          }
          .input {
            height: 45px;
            width: 777px;
            border: 1px solid #b4b4b4;
            border-radius: 2px;
          }
          .image-input {
            align-self: center;
          }
          .textarea {
            height: 445px;
            width: 777px;
            border: 1px solid #b4b4b4;
            border-radius: 2px;
          }
          .textarea::placeholder {
            font-size: 1.4rem;
            color: dodgerblue;
            text-align: center;
            padding-top: 180px;
          }
        }
        #stateId {
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }
      }

      .interested {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        width: 780px;
        margin: 0 auto;
        justify-content: center;

        label {
          height: 22px;
          width: 220px;
          color: rgba(26, 26, 26, 0.7);
          font-family: ProximaNova;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 1.24px;
          line-height: 22px;
          text-align: left;
          // border: 1px solid purple;
        }

        .interest-wrapper {
          display: flex;
          // border: 1px solid blue;
          .chbox {
            height: 13px;
            width: 13px;
            vertical-align: center;
            margin-right: 5px;
            // border: 1px solid red;
          }
          .interest-labels {
            width: 200px;
            // border: 1px solid purple;
            text-align: left;
            padding-top: 3px;
            font-size: 13px;
            line-height: normal;
            font-family: "proxima-nova";
            letter-spacing: 0px;
            font-weight: 400;
            color: rgba(26, 26, 26, 0.7);
          }
        }
      }
      .comment {
        height: 230px;
        width: 777px;
        border: 1px solid #b4b4b4;
        border-radius: 2px;
      }

      .submitb {
        height: 45px;
        width: 194px;
        background-color: #5cbe80;
        font-family: "Open Sans";
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 0.9px;
        text-align: center;
        margin: 35px 0 100px 0;
        padding-bottom: 30px;
      }
    }
  }
}
