.container {
  header {
    position: relative;
    height: 407px;
    .navbar {
      position: absolute;
      z-index: 22;
      background: red;
      height: 50px;
    }

    .overlay {
      z-index: 99;
      .backImg {
        background-color: black;
        background: url("../../Assests//Imgs/header.png") no-repeat center;
        height: 407px;
        background-size: cover;
        background-position-y: -169px;
        z-index: -15;

        .filter {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}
